<?xml version="1.0" ?>

<model>
    <name>dohyo_mini</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Lucas Schneider</name>
        <email>lucas.schneider@thunderatz.org</email>
    </author>

    <description>Official sumo competition dohyo for 500g category</description>
</model>
